@font-face{
    font-family:'Bellarosta';
    src: url('fonts/bellarosta/Bellarosta.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Ngetic Modern';
    src: url('fonts/ngetic-modern/NgeticModern-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
.grid-layout{
    display:grid;
    font-family:Arial,Helvetica,sans-serif;
    background-color:brown;
    gap:10px;
    grid-template-areas:
    'a a a a a a'
    'b b c c c c'
    'b b c c c c'
    'd d d d d d'
}
.header{
    grid-area:a;
    background-color:#737153;
    text-align:center;
}
.nav{
    grid-area:b;
    background-color:#BFB8AA;
}
.main{
    grid-area:c;
    background-color:#8C775E;
}
.main-content{
    text-align:center;
}
.footer{
    grid-area:d;
    background-color:#593F28;
}
.flex-container{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color:#3B2A2A;
    justify-content:space-evenly;
    align-items:center;
    color:#F5F5F0;
}
@media only screen and (max-width:500px){
    .grid-container{
        display:grid;
        grid-template-areas:
        'a a'
        'b b'
        'c c'
        'd d'
    }
}
@media print{
    .footer{
        display:none !important;
    }
}
